.gif-player {
	margin-top: 	1em;
	margin-bottom: 	1em;
}
.gif-ctrl span {
	cursor: 			pointer;
	font-size: 			10pt;
	font-weight: 		bold;
	text-decoration: 	underline;
}

.gif-still, .gif-movie {
	padding: 5px;
	border: solid 2px #eee;
	border-radius: 5px;
}