h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.button-nav {
	padding: 0.5em;
}

.topstories {
	margin-right: 1em;
}

.my-title, .my-title a {
	margin: 0;
	background: #7cc0b0;
	color: white;
	padding: 4px;
	display: inline-block;
}
.my-title a {
	text-decoration: none;
}

.my-state {
	font-family: Lucida, Georgia, "Times New Roman", Times, serif;s;
	font-size: 11pt;
}

.fignya-nav {
	margin-left: 1em;
	font-size: 10pt;
	text-decoration: underline;
}

.moi-ssilki, .moi-ssilki li {
	list-style-type: none;
	line-height: 1.8em;
}

.post-list {
	line-height: 2em;
}

.post-meta {
	font-size: 10pt;
}

.post-content, .post-content blockquote {
	font-size: 13pt;
}

.post-content .highlight {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.post-content p, .highlight p, .micro p {
    line-height: 1.6em;
    margin-bottom: 1em;
}

.post-content li {
	margin-bottom: 0.7em;
}

.micro {
	margin-bottom: 2em;
}

.micro-title h3 {
	margin-bottom: 2em
}

footer {
	font-size: 10pt;
}
